@model IEnumerable<ClienteApiDepartamentos.Models.Empleado>

@{
    ViewData["Title"] = "EmpleadosDepartamento";
}
@{ 
    List<Departamento> departamentos = ViewData["DEPARTAMENTOS"] as List<Departamento>;
}
<h2>EmpleadosDepartamento</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="post">
    <div>
        <select name="depts" class="form-control" multiple>
            @foreach (Departamento dept in departamentos)
            {
                <option value="@dept.Numero">@dept.Nombre</option>
            }
        </select>
    </div>
    <div>
        <button type="submit" class="btn btn-success">MostrarEmpleados</button>
    </div>
</form>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdEmpleado)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Oficio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEmpleado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Oficio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
